<br />Latest update: {% for post in site.posts limit:1 %}{{ post.date | date_to_string }}{% endfor %}<br />
      &copy; Nico Boyce and PeakDad.com {{ site.time | date: '%Y' }}.<br />All rights reserved.<br /><br />
      <a href="https://nicoboyce.com"><img src="/public/img/nicologo.svg" height="36" id="foot-img"></a><a href="https://deltastring.com"><img src="/public/img/delta.png" width="36" height="36" id="foot-img"></a><br />
      <sub>This site does not contain cookies.<br />Please feel free to bake your own.</sub>